:root {
    --el-color-primary: #397AFD;
    --el-color-primary-light-3: #3395FF;

    --el-border-radius-base: 2px;

    // menu
    --el-menu-sub-item-height: 40px;
}

:root {
    --vxe-border-radius: 2px;
    --el-menu-base-level-padding: 12px;
}

.el-main {
    // main
    --el-main-padding: none;
}